
@{
    ViewBag.Title = "Home - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carosel-->
<section style="background: url('../Asset/Image/cach-ban-hang-online-1.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
    <div class="container">
        <!-- Carousel Start-->
        <div class="home-carousel">
            <div class="dark-mask mask-primary"></div>
            <div class="container">
                <div class="homepage owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2160px, 0px, 0px); transition: all 1s ease 0s; width: 8640px;">
                            <div class="owl-item cloned" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-5 text-right">
                                            <h1>Design</h1>
                                            <ul class="list-unstyled">
                                                <li>Clean and elegant design</li>
                                                <li>Full width and boxed mode</li>
                                                <li>Easily readable Roboto font and awesome icons</li>
                                                <li>7 preprepared colour variations</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7"><img src="~/Asset/Image/template-easy-customize.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-7"><img src="~/Asset/Image/template-easy-code.png" alt="" class="img-fluid"></div>
                                        <div class="col-md-5">
                                            <h1>Easy to customize</h1>
                                            <ul class="list-unstyled">
                                                <li>7 preprepared colour variations</li>
                                                <li>Easily to change fonts</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-5 text-right">
                                            <p><img src="~/Asset/Image/logo.png" alt="" class="ml-auto"></p>
                                            <h1>Sản phẩm đa đạng</h1>
                                            <p>Thể thao. Gia dụng. Điện tử.<br>Bếp núc. Thời trang. Nội thất.</p>
                                        </div>
                                        <div class="col-md-7"><img src="~/Asset/Image/da-dang-hoa-san-pham.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-7 text-center"><img src="~/Asset/Image/template-mac.png" alt="" class="img-fluid"></div>
                                        <div class="col-md-5">
                                            <h2>46 HTML pages full of features</h2>
                                            <ul class="list-unstyled">
                                                <li>Sliders and carousels</li>
                                                <li>4 Header variations</li>
                                                <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                                                <li>+ 11 extra pages showing template features</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-5 text-right">
                                            <h1>Design</h1>
                                            <ul class="list-unstyled">
                                                <li>Clean and elegant design</li>
                                                <li>Full width and boxed mode</li>
                                                <li>Easily readable Roboto font and awesome icons</li>
                                                <li>7 preprepared colour variations</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7"><img src="~/Asset/Image/template-easy-customize.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-7"><img src="~/Asset/Image/template-easy-code.png" alt="" class="img-fluid"></div>
                                        <div class="col-md-5">
                                            <h1>Easy to customize</h1>
                                            <ul class="list-unstyled">
                                                <li>7 preprepared colour variations.</li>
                                                <li>Easily to change fonts</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-5 text-right">
                                            <p><img src="~/Asset/Image/logo.png" alt="" class="ml-auto"></p>
                                            <h1>Multipurpose responsive theme</h1>
                                            <p>Business. Corporate. Agency.<br>Portfolio. Blog. E-commerce.</p>
                                        </div>
                                        <div class="col-md-7"><img src="~/Asset/Image/template-homepage.png" alt="" class="img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 1080px;">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-7"><img src="~/Asset/Image/template-mac.png" alt="" class="img-fluid"></div>
                                        <div class="col-md-5">
                                            <h1>46 HTML pages full of features</h1>
                                            <ul class="list-unstyled">
                                                <li>Sliders and carousels</li>
                                                <li>4 Header variations</li>
                                                <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                                                <li>+ 11 extra pages showing template features</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-dots">
                        <button role="button" class="owl-dot active">
                            <span></span>
                        </button>
                        <button role="button" class="owl-dot">
                            <span></span>
                        </button>
                        <button role="button" class="owl-dot">
                            <span></span>
                        </button>
                        <button role="button" class="owl-dot">
                            <span></span>
                        </button>
                    </div>
                    <div class="owl-thumbs"></div>
                </div>
            </div>
        </div>
        <!-- Carousel End-->
    </div>
</section>

<!-- Sản phẩm mới-->
<section class="bar background-white no-mb">
    <div data-animate="fadeInUpBig" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Sản phẩm mới</h2>
                </div>
                <div class="row portfolio text-center color-white">
                    @Html.Action("SPham", "Home")
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Xem thêm-->
<section style="background: url(../Asset/Image//fixed-background-2.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
        <h3 class="text-uppercase">Bạn có muốn xem thêm không?</h3>
        <p class="lead">Chúng tôi còn rất nhiều sản phẩm muốn giới thiệu với bạn.</p>
        <p class="text-center"><a href="@Url.Action("Index", "Product")" class="btn btn-template-outlined-white btn-lg">Xem thêm</a></p>
    </div>
</section>

<!-- Mục tiêus-->
<section class="bar background-pentagon no-mb">
    <div class="container text-center">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Mục tiêu chính của chúng tôi</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fa fa-globe"></i></div>
                        <h3 class="h4">Đa dạng</h3>
                        <p>Sản phẩm đa dạng đến từ khắp nơi trên thế giới.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fa fa-lightbulb-o"></i></div>
                        <h3 class="h4">Tiện lợi</h3>
                        <p>Chúng tôi đã và đang cung cấp các dịch vụ tốt nhất, đem lại cho các bạn sự trải nghiệm hoàn hảo nhất.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fa fa-user"></i></div>
                        <h3 class="h4">Khách hàng</h3>
                        <p>Khách hàng là trên hết. Được phục vụ các bạn là niềm vinh hạnh của chúng tôi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bài viết-->
<section class="bg-white bar">
    <div class="container">
        <div class="heading text-center">
            <h2>Bài viêt</h2>
        </div>
        <p class="lead">Các bài viết, thông tin mới về các sản phẩm. Bạn có thể xem, đăng tin hay bình luận cùng các tin tức mới nhất! @Html.ActionLink("Xem các bài viết", "Index", "Blog")</p>
        <div class="row">
            @Html.Action("BViet", "Home")
        </div>
    </div>
</section>

<!-- Thương hiệu-->
<section class="bar bg-gray">
    <div class="container">
        <div class="heading text-center">
            <h2>Thương hiệu</h2>
        </div>
        <ul class="list-unstyled owl-carousel customers no-mb owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1110px;">
                    <div class="owl-item active" style="width: 185px;">
                        <li class="item"><img src="~/Asset/Image/customer-1.png" alt="" class="img-fluid"></li>
                    </div>
                    <div class="owl-item active" style="width: 185px;">
                        <li class="item"><img src="~/Asset/Image/customer-2.png" alt="" class="img-fluid"></li>
                    </div>
                    <div class="owl-item active" style="width: 185px;">
                        <li class="item"><img src="~/Asset/Image/customer-3.png" alt="" class="img-fluid"></li>
                    </div>
                    <div class="owl-item active" style="width: 185px;">
                        <li class="item"><img src="~/Asset/Image/customer-4.png" alt="" class="img-fluid"></li>
                    </div>
                    <div class="owl-item active" style="width: 185px;">
                        <li class="item"><img src="~/Asset/Image/customer-5.png" alt="" class="img-fluid"></li>
                    </div>
                    <div class="owl-item active" style="width: 185px;">
                        <li class="item"><img src="~/Asset/Image/customer-6.png" alt="" class="img-fluid"></li>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</section>