@model IEnumerable<Universal.Models.The>

@foreach (var i in Model)
{
    <li class="list-inline-item"><a href="@Url.Action("Index", "Blog")" style="color: #4fbfa8"><i class="fa fa-tags"></i> @i.TenThe (@i.TenThe.Count())</a></li>
}